* {
    margin: 0;
    padding: 0;
}

body, html {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    background-color: #1E2228;
    -ms-user-select: none;
    user-select: none;

}

.container {
    background-color: #1E2228;
    width: 310px;
    height: 220px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.toggleDisplay {
    display: none; 
}

.label-con {
    width: 238px;
    margin-bottom: -5px;
    padding-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    color: #ffffffa6;
}

.label-con img {
    width: 14px;
    height: auto;
    opacity: .7;
}

.name-tab {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1E2228;
}

.name-tab input {
    width: 238px;
    margin-top: 5%;
    padding: 5%;
    background-color: #1E2228;
    border: 2px solid rgba(255, 255, 255, 0.633);
    border-radius: 16px;
    color: #fff;
    font-size: 16px;
}

.manage, .pagination {
    display: none;
}

.cover {
    background-color: black;
}

.session-save {
    width: 100%;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #BCBCBC;
    font-size: 14px;
    padding-top: 5%;
    padding-bottom: 5%;
    gap: 5px;
}

.session-save img {
    width: 18px;
    height: auto;
}

.btn-container {
    margin-top: 5%;
}

.group-btn {
    width: 238px;
    height: 45px;
    background: rgba(255, 255, 255, 0.103);
    box-shadow: 0px 4px 8px rgba(27, 27, 27, 0.16);
    backdrop-filter: blur(8px);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    gap: 10px;
    margin-bottom: 1%;
    cursor: pointer;
    transition: .3s;
    border: 2px solid rgba(255, 255, 255, 0.24);
}

.group-btn:hover {
    background-color: rgba(255, 255, 255, 0.0665);
}


.group-btn p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.group-btn img {
    width: 14px;
    height: auto;
}

.sessions {
    max-height: 200px;
    overflow-x: hidden;
    width: 300px;
    margin-top: -14px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sessions #intro {
    color: #fff;
    font-weight: 400;
    line-height: 25px;
    font-size: 16px;
    width: 245px;
    text-align: center;
}

.sessions ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.sessions li {
    padding: 3px;
}

.pagination {
    justify-content: center;
    margin-top: 150px;
}

.pagination ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.pagination li {
    margin: 0 5px;
}

.pagination button {
    display: block;
    padding: 7px 15px;
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 10px;
    border: none;
    text-decoration: none;
    color: #fff;
    transition: .3s;
    cursor: pointer;
}


.pagination button:hover {
    background-color: rgba(255, 255, 255, 0.03);
}

.sess {
    width: 180px;
    height: 25px;
    background: #313842;
    border-radius: 8px;
    color: #fff;
    padding: 3%;
    overflow: hidden;
    transition : .2s;
    overflow: hidden;
    cursor : pointer;
    border-radius: 8px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sess:hover {
    background-color: #262b33;
}

.sess p {
    opacity: .9;
    font-size: 13px;
}

.manage-sess {
    width: 250px;
    height: 45px;

    justify-content: flex-start;
    align-items: center;

    cursor: default;

}

.manage-sess p {
    margin-left: -20px;
    font-size: 16px;
    padding: 0 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.manage-sess:hover {
    background: #313842;
}

.manage-sess img {
    width: 20px;
    height: auto;
}

.manage-sess .icon {
    width: 37px;
    height: 40px;
    border-radius: 5px;
    margin: 2%;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.manage-sess #editi {
    margin-right: 28px;
}

.manage-sess .delete {
    background-color: #FF4757;
}

.manage-sess .edit {
    background-color: #FFA502;
}

.manage-sess #drop {
    margin-left: 10px;
    cursor: pointer;
}

.footer {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: lighter; 
    font-size: 14px;
    padding-top: 8%;
    padding-bottom: 4%;
    gap: 15px;
}

.footer img {
    width: 18px;
    height: 18px;
}

/* .checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 2%;
}

.checkbox label {
    color: #fff;
} */

.sess-txt-cont {
    margin: 10%;
}

.sess-txt-cont p {
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    width: 102px;
}

#manage-btn {
    background: rgba(255, 255, 255, 0.16);
    box-shadow: 0px 2px 4px rgba(27, 27, 27, 0.16);
    backdrop-filter: blur(4px);
    /* Note: backdrop-filter has minimal browser support */
    width: 70px;
    height: 25px;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 12px;
    padding: 1% 5%;
    cursor: pointer;
    transition: .3s;
    font-weight: lighter;
}

#manage-btn:hover {
    background: rgba(255, 255, 255, 0.08)
}

.heading-stuff {
    width: 238px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    margin: 10px 0px 10px 25px;
}

.edit-icon {
    position: relative;
    width: 24px;
    height: 24px;
    z-index: 1;
    left: 175px;
    top: -45px;
    transition: .3s;
}

.edit-icon img {
    width: 22px;
    height: 22px; 
    cursor: pointer;
}

.new-name {
    display: none;
    margin-top: 10px;
}

.new-name input{
    width: 180px;
    height: 25px;
    background: #313842;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.432);
    border-radius: 8px;
    color: #fff;
    padding: 3%;
    color: #ffffffbf;
    font-weight: 500;
}

.action-icons {
    position: relative;
    z-index: 1;
    display: none;
    float: right;
    margin-top: -33px;
}

.action-icons img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.footer {
    display: flex;
    flex-direction: column;
}

.footer p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.footer #line {
    display: block;
    width: 250px;
    height: 1px;
    background-color: #DFE4EA;
    opacity: .5;
}

.footer #loggedinText {
    font-weight: lighter;
}

.round-time-bar {
    margin: 1rem;
    overflow: hidden;
}

.round-time-bar div {
    height: 5px;
    width: 240px;
    animation: roundtime calc(var(--duration) * 1s) steps(var(--duration))
        forwards;
    transform-origin: left center;
    background: linear-gradient(to bottom, red, #900);
}

.round-time-bar[data-style="smooth"] div {
    animation: roundtime calc(var(--duration) * 1s) linear forwards;
}

@keyframes roundtime {
    to {
      /* More performant than `width` */
      transform: scaleX(0);
    }
  }

.popup {
    background-color: #FF4757;
    height: 100px;
    width: 240px;
    color: #fff;
    padding: 3%;
    border-radius: 5px;
    margin-top: -10px;
    font-size: 14px;
}

.cross {
    padding-right: 2%;
}

.cross img{
    width: 18px;
    height: auto;
    float: right;
    cursor: pointer;
}

.message {
    width: 240px;
    margin-top: 5%;
}

select {
    width: 60px;
    padding: 3px;
    font-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    border-radius: 5px;
    height: 28px;
    cursor: pointer;
    font-size: 12px;
    margin-left: 10px;
}

option {
    font-size: 14px;
}

select::-ms-expand {
    display: none; /* Remove default arrow in Internet Explorer 10 and 11 */
}

/* Target Internet Explorer 9 to undo the custom arrow */
@media screen and (min-width:0\0) {
    select {
        background: none\9;
        padding: 5px\9;
    }
}