* {
    margin: 0;
    padding: 0;
}

body, html {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    background-color: #1E2228;
    -ms-user-select: none;
    user-select: none;

}

.container {
    background-color: #1E2228;
    width: 310px;
    height: 220px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.toggleDisplay {
    display: none; 
}

.label-con {
    width: 238px;
    margin-bottom: -5px;
    padding-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    color: #ffffffa6;
}

.label-con img {
    width: 14px;
    height: auto;
    opacity: .7;
}

.name-tab {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1E2228;
}

.name-tab input {
    width: 238px;
    margin-top: 5%;
    padding: 5%;
    background-color: #1E2228;
    border: 2px solid rgba(255, 255, 255, 0.633);
    border-radius: 16px;
    color: #fff;
    font-size: 16px;
}

.manage, .pagination {
    display: none;
}

.cover {
    background-color: black;
}

.session-save {
    width: 100%;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #BCBCBC;
    font-size: 14px;
    padding-top: 5%;
    padding-bottom: 5%;
    gap: 5px;
}

.session-save img {
    width: 18px;
    height: auto;
}

.btn-container {
    margin-top: 5%;
}

.group-btn {
    width: 238px;
    height: 45px;
    background: rgba(255, 255, 255, 0.0665);
    box-shadow: 0px 4px 8px rgba(27, 27, 27, 0.16);
    backdrop-filter: blur(8px);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    gap: 10px;
    margin-bottom: 3%;
    cursor: pointer;
    transition: .3s;
    border: 2px solid rgba(255, 255, 255, 0);
}

.group-btn:hover {
    border: 2px solid rgba(255, 255, 255, 0.24);
}

.group-btn p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.group-btn img {
    width: 14px;
    height: auto;
}

.sessions {
    max-height: 200px;
    overflow-x: hidden;
    width: 200px;
    margin-top: -14px;
}

.sessions #intro {
    color: #fff;
    font-style: italic;
    font-weight: lighter;
    padding-top: 5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sessions ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sessions li {
    padding: 3px;
}

.pagination {
    justify-content: center;
    margin-top: 35px;
}

.pagination ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.pagination li {
    margin: 0 5px;
}

.pagination button {
    display: block;
    padding: 7px 15px;
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 10px;
    border: none;
    text-decoration: none;
    color: #fff;
    transition: .3s;
    cursor: pointer;
}


.pagination button:hover {
    background-color: rgba(255, 255, 255, 0.03);
}

.sess {
    width: 180px;
    height: 25px;
    background: #313842;
    border-radius: 8px;
    color: #fff;
    padding: 3%;
    overflow: hidden;
    transition : .2s;
    overflow: hidden;
    cursor : pointer;
    border-radius: 8px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sess:hover {
    background-color: #262b33;
}

.sess p {
    opacity: .9;
    font-size: 13px;
}

.footer {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: lighter; 
    font-size: 14px;
    padding-top: 8%;
    padding-bottom: 4%;
    gap: 15px;
}

.footer img {
    width: 18px;
    height: 18px;
}

/* .checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 2%;
}

.checkbox label {
    color: #fff;
} */

.sess-txt-cont {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 10%;
}

.sess-txt-cont p {
    font-size: 16px;
    color: #fff;
    font-weight: 500;
}

.sess-txt-cont img{
    width: 12px;
    height: 12px;
}

.manage {
    text-align: center;
    padding-top: 10%;
    margin-bottom: -11%;
}

.manage a {
    color: #fff;
}